.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: lightgrey;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ac-btn {
	position:fixed;
	height:60px;
	width:100px;
	bottom:0%;
	background: #FE5F55;

}

.gc-btn {
	position:fixed;
	height:60px;
	width:100px;
	bottom:0%;
	left:100px;
	background: #139675;

}
.btn{
	display: inline-block;
	font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	padding: .8em 1.4em;
	padding-right: 4.7em;
	border: none;
	color: white;
	transition: .2s;
}

body{
	 background-color: #101010;
}
form > div{
	padding:10px;
	width: 400px;
	margin: 50px auto;
}
.form{
	padding:5px;
	margin:5px;
	border:solid;
	border-width:thin;
}
.form > label, .form > span{
	color: grey;
	font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
}
.form > input {
	float: right;
    clear: both;
	background-color: #282c34;
	border:solid;
	border-bottom-width:thin;
}
.radio > label {


}